body {
    padding: 0;
    margin: 0;
  }
  
  body,
  html {
    height: 100%;
  }
  
  #map {
    position: relative;
    width: 100%;
    height: 500px;
}

  .leaflet-popup-content {
    text-align: center;
  }
  
  tr,td,th {
    padding: 10px;
  }

  